services:
  app:
    build: ./app
    restart: unless-stopped
    depends_on:
      mongodb:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/healthcheck"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 2s
    env_file:
      - .env-mongo-access
    ports:
      - 8080:8080
  mongodb:
    image: mongo:latest
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 10s
    env_file:
      - .env-mongo-access
      - .env-mongo-master
    volumes:
      - mongo-data:/data/db
      - ./init:/docker-entrypoint-initdb.d
    ports:
      - 27017:27017
volumes:
  mongo-data:
